Repository for4for/ford: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend, azure-pipelines-backend.yml
  azure-pipelines-frontend.yml: any of: frontend

chore: format files and update Railway deploy docs for multi-brand
  .gitignore
  RAILWAY_DEPLOY.md
  backend/.dockerignore
  backend/apps/campaigns/admin.py
  backend/apps/campaigns/urls.py
  backend/apps/dealers/apps.py
  backend/apps/dealers/filters.py
  backend/apps/dealers/urls_brands.py
  backend/apps/incentives/apps.py
  backend/apps/users/admin.py
  backend/apps/users/apps.py
  backend/config/asgi.py
  backend/config/pagination.py
  backend/config/wsgi.py
  backend/manage.py
  frontend/.dockerignore
  frontend/.eslintrc.cjs
  frontend/src/App.tsx
  frontend/src/components/DeleteUserDialog.tsx
  frontend/src/components/index.ts
  frontend/src/resources/brands/BrandShow.tsx
  frontend/src/resources/dealers/index.ts
  frontend/src/resources/requests/index.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: Facebook kampanya entegrasyonu + aktivite loglama sistemi
  backend/apps/campaigns/admin.py
  backend/apps/campaigns/migrations/0004_metaadsconfig_campaignrequest_ad_message_and_more.py
  backend/apps/campaigns/migrations/0005_campaigncreativefile.py
  backend/apps/campaigns/migrations/0006_alter_campaignrequest_cta_type.py
  backend/apps/campaigns/migrations/0007_campaignactivitylog.py
  backend/apps/campaigns/models.py
  backend/apps/campaigns/serializers.py
  backend/apps/campaigns/services/__init__.py
  backend/apps/campaigns/services/meta_ads_service.py
  backend/apps/campaigns/views.py
  backend/apps/dealers/admin.py
  backend/apps/dealers/migrations/0010_dealer_fb_ad_account_id_dealer_fb_page_id_and_more.py
  backend/apps/dealers/models.py
  backend/apps/dealers/serializers.py
  backend/requirements.txt
  frontend/src/components/BackToListButton.tsx
  frontend/src/components/FileUploadSection.tsx
  frontend/src/components/FormFields.tsx
  frontend/src/components/index.ts
  frontend/src/hooks/useSmartBack.ts
  frontend/src/resources/brands/BrandCreate.tsx
  frontend/src/resources/brands/BrandEdit.tsx
  frontend/src/resources/campaigns/CampaignRequestCreate.tsx
  frontend/src/resources/campaigns/CampaignRequestEdit.tsx
  frontend/src/resources/campaigns/CampaignRequestList.tsx
  frontend/src/resources/campaigns/CampaignRequestReport.tsx
  frontend/src/resources/campaigns/CampaignRequestShow.tsx
  frontend/src/resources/campaigns/DealerCampaignRequestForm.tsx
  frontend/src/resources/campaigns/constants.ts
  frontend/src/resources/creatives/CreativeRequestEdit.tsx
  frontend/src/resources/creatives/CreativeRequestShow.tsx
  frontend/src/resources/dealers/DealerCreate.tsx
  frontend/src/resources/dealers/DealerEdit.tsx
  frontend/src/resources/dealers/DealerShow.tsx
  frontend/src/resources/incentives/IncentiveRequestEdit.tsx
  frontend/src/resources/incentives/IncentiveRequestShow.tsx
  frontend/src/resources/users/UserCreate.tsx
  frontend/src/resources/users/UserEdit.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

UI standardization: ShowFields, Timeline, smart back, dealer appbar cleanup
  backend/apps/users/serializers.py
  backend/config/brand_middleware.py
  frontend/src/components/FileUploadSection.tsx
  frontend/src/components/FormFields.tsx
  frontend/src/components/ShowFields.tsx
  frontend/src/components/Timeline.tsx
  frontend/src/layout/dealer/DealerAppBar.tsx
  frontend/src/resources/brands/BrandCreate.tsx
  frontend/src/resources/brands/BrandEdit.tsx
  frontend/src/resources/brands/BrandShow.tsx
  frontend/src/resources/campaigns/CampaignRequestCreate.tsx
  frontend/src/resources/campaigns/CampaignRequestEdit.tsx
  frontend/src/resources/campaigns/CampaignRequestReport.tsx
  frontend/src/resources/campaigns/CampaignRequestShow.tsx
  frontend/src/resources/campaigns/DealerCampaignRequestForm.tsx
  frontend/src/resources/creatives/CreativeRequestCreate.tsx
  frontend/src/resources/creatives/CreativeRequestEdit.tsx
  frontend/src/resources/creatives/CreativeRequestShow.tsx
  frontend/src/resources/creatives/DealerCreativeRequestCreate.tsx
  frontend/src/resources/dealers/DealerCreate.tsx
  frontend/src/resources/dealers/DealerEdit.tsx
  frontend/src/resources/incentives/DealerIncentiveRequestForm.tsx
  frontend/src/resources/incentives/IncentiveRequestCreate.tsx
  frontend/src/resources/incentives/IncentiveRequestEdit.tsx
  frontend/src/resources/incentives/IncentiveRequestShow.tsx
  frontend/src/resources/users/UserCreate.tsx
  frontend/src/resources/users/UserEdit.tsx
  frontend/src/resources/users/UserShow.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

chore: disable Django admin panel
  backend/config/settings.py
  backend/config/urls.py
Due: azure-pipelines-backend.yml

fix: CampaignRequestShow header sıralaması - status solda, rapor ortada, düzenle sağda
  .cursor/rules/base.mdc
  .cursor/rules/railway.mdc
  backup_20260119_150628.dump
  backup_prod_20260119_150713.dump
  frontend/src/resources/campaigns/CampaignRequestShow.tsx
Due: azure-pipelines-frontend.yml

CampaignRequestReport: backoffice/dealer tasarım standardizasyonu
  frontend/src/resources/campaigns/CampaignRequestReport.tsx
Due: azure-pipelines-frontend.yml
