Repository for4for/ford: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy Backend
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    variables:
    - group: prod-variables
    jobs:
    - job: Build
      displayName: Build Backend Image
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

azure-pipelines-frontend.yml:
  stages:
  - stage: BuildAndDeploy
    displayName: Build and Deploy Frontend
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
    variables:
    - group: prod-variables
    jobs:
    - job: Build
      displayName: Build Frontend Image
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

chore: Frontend rebuild trigger - VITE_API_URL fix
  frontend/src/main.tsx
Due: azure-pipelines-frontend.yml

fix: Merkezi config.ts ile API URL yönetimi
  frontend/src/authProvider.ts
  frontend/src/components/ChangePasswordDialog.tsx
  frontend/src/config.ts
  frontend/src/dataProvider.ts
  frontend/src/layout/DealerRegister.tsx
  frontend/src/resources/campaigns/CampaignRequestReport.tsx
  frontend/src/resources/creatives/CreativeRequestShow.tsx
  frontend/src/resources/incentives/DealerIncentiveRequestForm.tsx
Due: azure-pipelines-frontend.yml

fix: intechno360.com domain desteği eklendi
  frontend/src/config.ts
Due: azure-pipelines-frontend.yml

Sidebar layout düzeltmesi - custom layout ile React-Admin bypass edildi
  frontend/src/index.css
  frontend/src/layout/CustomLayout.tsx
  frontend/src/layout/CustomMenu.tsx
  frontend/src/main.tsx
Due: azure-pipelines-frontend.yml

fix: Admin butonu tıklama sorunu düzeltildi (UserMenu)
  frontend/src/layout/CustomAppBar.tsx
Due: azure-pipelines-frontend.yml

chore: Backend resources - 4 vCPU / 8GB RAM
  azure-pipelines-backend.yml
Due: none

Dealer menüsünden Kreatif ve Teşvik kaldırıldı
  frontend/src/layout/dealer/DealerBottomNav.tsx
Due: azure-pipelines-frontend.yml

chore: Frontend pipeline - Always On eklendi (cold start önleme)
  azure-pipelines-frontend.yml
Due: none

chore: Pipeline path filters - pipeline dosyaları da trigger eder
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
Due: none

Kullanıcı Adı -> Bayi Kodu wording değişikliği ve UserCreate/Edit düzeltmeleri
  frontend/src/resources/users/UserCreate.tsx
  frontend/src/resources/users/UserEdit.tsx
  frontend/src/resources/users/UserList.tsx
  frontend/src/resources/users/UserShow.tsx
Due: azure-pipelines-frontend.yml

Dealer kampanya edit/show güncellendi - teşvik formu ile aynı layout, status kaldırıldı
  frontend/src/App.tsx
  frontend/src/resources/campaigns/CampaignRequestEdit.tsx
  frontend/src/resources/campaigns/CampaignRequestShow.tsx
  frontend/src/resources/campaigns/DealerCampaignRequestForm.tsx
  frontend/src/resources/campaigns/index.ts
Due: azure-pipelines-frontend.yml

Kullanıcı formu iyileştirmeleri - Kullanıcı Adı label düzeltmesi, backend hata mesajları gösterimi
  frontend/src/resources/users/UserCreate.tsx
  frontend/src/resources/users/UserEdit.tsx
  frontend/src/resources/users/UserList.tsx
  frontend/src/resources/users/UserShow.tsx
Due: azure-pipelines-frontend.yml

ChangePasswordDialog - token ve new_password_confirm düzeltmesi
  frontend/src/components/ChangePasswordDialog.tsx
Due: azure-pipelines-frontend.yml

Email ile giriş sistemi - DealerRegister/Login güncellendi, kullanıcı ekranları E-posta label'ı
  backend/apps/dealers/views.py
  frontend/src/i18nProvider.ts
  frontend/src/layout/CustomLayout.tsx
  frontend/src/layout/DealerLogin.tsx
  frontend/src/layout/DealerRegister.tsx
  frontend/src/resources/campaigns/CampaignRequestEdit.tsx
  frontend/src/resources/campaigns/CampaignRequestShow.tsx
  frontend/src/resources/dealers/DealerEdit.tsx
  frontend/src/resources/users/UserCreate.tsx
  frontend/src/resources/users/UserEdit.tsx
  frontend/src/resources/users/UserList.tsx
  frontend/src/resources/users/UserShow.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

Kampanya formu sadeleştirildi - Yönlendirme kaldırıldı, Reklam Modeli sadece Form Yönlendirme
  frontend/src/resources/campaigns/DealerCampaignRequestForm.tsx
Due: azure-pipelines-frontend.yml

şifremi unuttum
  .gitignore
  backend/apps/users/email_utils.py
  backend/apps/users/serializers.py
  backend/apps/users/urls.py
  backend/apps/users/views.py
  backend/config/settings.py
  backend/templates/emails/README.md
  backend/templates/emails/base_email.html
  backend/templates/emails/password_reset_email.html
  docker-compose.yml
  env.example
  frontend/src/App.tsx
  frontend/src/layout/DealerForgotPassword.tsx
  frontend/src/layout/DealerResetPassword.tsx
  frontend/src/layout/index.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat: Pipeline Key Vault entegrasyonu - tüm env vars Key Vault'tan alınıyor
  azure-pipelines-backend.yml
Due: none

fix: Django 5.x STORAGES syntax + contact_person kaldırıldı
  backend/apps/dealers/migrations/0006_remove_contact_person.py
  backend/apps/dealers/models.py
  backend/config/settings.py
Due: azure-pipelines-backend.yml

feat: UUID tabanlı dosya isimlendirme - boşluk/özel karakter sorunu çözüldü
  backend/apps/dealers/models.py
  backend/apps/incentives/models.py
  backend/apps/visuals/models.py
Due: azure-pipelines-backend.yml

beyaz logo
  backend/apps/users/email_utils.py
  frontend/public/assets/tofas-white-logo.png
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

.
  frontend/public/assets/images/tofas-white-logo.png
Due: azure-pipelines-frontend.yml

logo mail
  backend/templates/emails/base_email.html
Due: azure-pipelines-backend.yml

api url health
  backend/config/urls.py
  backend/templates/emails/base_email.html
Due: azure-pipelines-backend.yml

login uyarısı, api health message
  backend/config/urls.py
  frontend/src/authProvider.ts
  frontend/src/layout/Login.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: CampaignRequestShow tasarım güncellendi - FormContainer/FormHeader
  frontend/src/resources/campaigns/CampaignRequestShow.tsx
Due: azure-pipelines-frontend.yml

feat: Header sticky yapıldı - MUI AppBar ile
  frontend/src/layout/CustomAppBar.tsx
Due: azure-pipelines-frontend.yml

feat: badge standartları, leasing seçeneği, pasif->onay bekliyor
  .cursor/rules/base.mdc
  backend/apps/campaigns/migrations/0002_add_leasing_to_admodel.py
  backend/apps/campaigns/models.py
  frontend/src/layout/CustomLayout.tsx
  frontend/src/layout/CustomMenu.tsx
  frontend/src/resources/campaigns/CampaignRequestCreate.tsx
  frontend/src/resources/campaigns/CampaignRequestEdit.tsx
  frontend/src/resources/campaigns/DealerCampaignRequestForm.tsx
  frontend/src/resources/dealers/DealerCreate.tsx
  frontend/src/resources/dealers/DealerEdit.tsx
  frontend/src/resources/dealers/DealerList.tsx
  frontend/src/resources/users/UserList.tsx
  frontend/src/styles/listStyles.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

docs: deployment kuralı eklendi
  .cursor/rules/base.mdc
Due: none

mail kurguları
  backend/apps/campaigns/apps.py
  backend/apps/campaigns/signals.py
  backend/apps/dealers/apps.py
  backend/apps/dealers/signals.py
  backend/apps/users/apps.py
  backend/apps/users/signals.py
Due: azure-pipelines-backend.yml

feat: kampanya formlarına marka seçimi eklendi
  .gitignore
  backend/.dockerignore
  backend/apps/campaigns/admin.py
  backend/apps/campaigns/migrations/0003_add_brand_to_campaign.py
  backend/apps/campaigns/models.py
  backend/apps/campaigns/serializers.py
  backend/apps/campaigns/urls.py
  backend/apps/dealers/apps.py
  backend/apps/dealers/filters.py
  backend/apps/dealers/urls_brands.py
  backend/apps/incentives/apps.py
  backend/apps/users/admin.py
  backend/apps/users/apps.py
  backend/apps/visuals/apps.py
  backend/config/asgi.py
  backend/config/pagination.py
  backend/config/wsgi.py
  backend/manage.py
  frontend/.dockerignore
  frontend/.eslintrc.cjs
  frontend/nginx.conf
  frontend/src/components/DeleteUserDialog.tsx
  frontend/src/components/index.ts
  frontend/src/layout/dealer/DealerBottomNav.tsx
  frontend/src/resources/brands/BrandShow.tsx
  frontend/src/resources/campaigns/CampaignRequestCreate.tsx
  frontend/src/resources/campaigns/CampaignRequestEdit.tsx
  frontend/src/resources/campaigns/CampaignRequestShow.tsx
  frontend/src/resources/campaigns/DealerCampaignRequestForm.tsx
  frontend/src/resources/dealers/index.ts
  frontend/src/resources/requests/index.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: silinen bayi iletişim e-postası ile yeni kayıt yapılabilir - is_deleted=False filtresi eklendi
  backend/apps/dealers/views.py
Due: azure-pipelines-backend.yml

fix: tüm liste sayfalarında sıralama sorunları düzeltildi
  backend/apps/campaigns/views.py
  backend/apps/incentives/views.py
  backend/apps/users/views.py
  backend/apps/visuals/views.py
  frontend/src/resources/campaigns/CampaignRequestList.tsx
  frontend/src/resources/creatives/CreativeRequestList.tsx
  frontend/src/resources/dealers/DealerList.tsx
  frontend/src/resources/incentives/IncentiveRequestList.tsx
  frontend/src/resources/users/UserList.tsx
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix: kreatif talep formundaki uyarı kutusu kaldırıldı
  backup_20260119_150628.dump
  backup_prod_20260119_150713.dump
  frontend/src/resources/creatives/DealerCreativeRequestCreate.tsx
Due: azure-pipelines-frontend.yml

fix: Remove RAILWAY_STATIC_URL override
  backend/config/settings.py
Due: azure-pipelines-backend.yml

fix: Add default database ENGINE for migrations
  backend/config/settings.py
Due: azure-pipelines-backend.yml

fix: Use dynamic PORT for nginx in Railway
  frontend/Dockerfile
  frontend/nginx.conf
Due: azure-pipelines-frontend.yml

fix: Use nginx:alpine built-in template system for PORT
  frontend/Dockerfile
  frontend/nginx.conf
Due: azure-pipelines-frontend.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend
  azure-pipelines-frontend.yml: any of: frontend
